* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 55px;
}

p{
  font-size: 20px;
}

@media (min-width: 1440px) {
  body {
    background-color: aquamarine;
  }

  .box1 {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }
  
  .box1 p {
    display: none;
  }

  .box2 {
    display: none;
  }
  .box3 {
    display: none;
  }
  .box4 {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  body {
    background-color: #218a21;
  }
  .box1 {
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  .box2 {
    display: none;
  }
  .box3 {
    display: none;
  }
  .box4 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #b0882e;
  }

  .box2 {
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  .box1 {
    display: none;
  }
  .box3 {
    display: none;
  }
  .box4 {
    display: none;
  }
}

@media (min-width: 465px) and (max-width: 768px) {
  body {
    background-color: #75fafc;
  }

  .box3 {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }

  .box2 {
    display: none;
  }
  .box1 {
    display: none;
  }
  .box4 {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 425px) {
  body {
    background-color: #ca3142;
  }

  .box4 {
    width: 100vw;
    height: 100vh;
    text-align: center;
  }

  .box2 {
    display: none;
  }
  .box3 {
    display: none;
  }
  .box1 {
    display: none;
  }
}
